body {
    background-color: #000;
}

div.img {
    justify-content: center;
    width: 200;
    height: 50;
	display: flex;
	flex-direction: row;
}
div.lappen {
    color: green;
	font-size: 30px;
	text-align: right;
    border: solid 4px;
    margin-left: 80vw;
    padding:  30px;
    margin-top: 5px;
}
div.knopf {
	text-align: center;
    float: center;
    position: absolute;
    margin-left: 35vw;
    margin-top: -5vw;
}
div.danciniswhattodo {
}
div.danciniswhattod {
    color: green;
}
div.DANCINNN {
    color: green;
}	
div.foo {
    border: solid 2px black;
    padding: 5px;
    color: green;
    margin-top: 5px;
}
